/* #link-element {
    cursor:pointer;
    color:dodgerblue;
    text-decoration:underline;
    padding-right: 3px;
    padding-left: 3px;
}

#link-element:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px #555;
} */